<div class="<%=message.user == current_user ? "created__at-current-user" : "created__at"%>">
  <%= distance_of_time_in_words_to_now(message.created_at)%> ago
  <%if message.user==current_user%>
    <span>
      <%if message.read %>
        <i class="fal fa-check-double "></i>
      <%else%>
        <i class="fal fa-check "></i>
      <%end%>
    </span>
  <%end%>
</div>
