document.querySelector(".messages__modal").insertAdjacentHTML(
  "beforeend",
  `<div class="message>
<div class="messages__content">
  <%=@message.content%>
</div>
</div>
`
);
document
  .querySelector(".messages__modal")
  .scrollTo(0, document.body.scrollHeight);
