<li class="user__bio">
  <% if authenticate_profile(user) %>
    <%if user.freelancer_info.try(:bio) %>
      <%=user.freelancer_info.try(:bio)%>
    <% else %>
      <div class="fill__bio">
        <%=inline_svg_tag 'bio.svg'%>
        <span>Complete your bio</span>
      </div>
    <% end %>
  <% else %>
    <%if user.freelancer_info.try(:bio) %>
      <%=user.freelancer_info.try(:bio)%>
    <% else %>
      <%=render 'nodata'%>
    <% end %>
  <% end %>
</li>
