// Place all the styles related to the Bids controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.freelancer-placed-bids-on {
  .each__bid {
    gap: 0rem;
    padding: 0;
    .bid__proposal {
      word-break: break-word;
      display: flex;
      a {
        display: block;
        text-decoration: none;
        font-size: 1.25rem;
        word-spacing: 3px;
        flex: 1 1 80%;
        color: black;
        font-family: "Quicksand", sans-serif;
        font-weight: 600;
        line-height: 1.4rem;
      }
      & > div {
        flex: 1 1 20%;
        text-align: center;
        i {
          text-align: right;

          font-size: 2rem;
          color: rgb(216, 216, 216);

          color: #37a000;
        }
        span {
          display: block;
          text-decoration: none;
          display: block;
          font-size: 0.75rem;
          font-family: "Comfortaa", cursive;
          font-weight: 700;
          color: rgb(65, 65, 65);
          padding: 0.5rem 0.1rem;
        }
      }
    }
    .bid__created-at {
      display: flex;
      position: relative;
      & > div,
      & > ul {
        flex: 1;
        align-self: flex-end;
        display: flex;
        font-size: 0.8rem;
        color: #313131;
      }
      & > div {
        justify-content: flex-end;
        gap: 0.5rem;
        align-items: center;
      }
      .client__details {
        flex-direction: column;
        align-items: flex-start;
        .client__profile {
          flex: 1;
          a {
            text-decoration: none;
            display: block;
            font-size: 0.75rem;
            font-family: "Comfortaa", cursive;
            font-weight: 700;
            color: black;
            &:hover {
              color: green;
              text-decoration: underline;
            }
          }
        }
        .client__picture {
          flex: 1;
          img,
          svg {
            width: 40px;
            height: 40px;
          }
          img {
            border: 1px solid rgb(143, 143, 143);
            border-radius: 50%;
          }
        }
      }
      & > a {
        position: absolute;
        font-size: 0.9rem;
        top: 0;
        right: 0rem;
        text-decoration: none;
        color: white;
        background: rgb(51, 161, 57);
        padding: 0.5rem 0.8rem;
        border-radius: 5px;
        font-weight: 500;
        transition: background 0.5s;
        z-index: 12;
        &:hover {
          background: rgb(38, 122, 42);
        }
      }
    }
  }
}
