<ul class="conversations__modal">
  <% unless conversations.empty? %>
    <%= render 'conversations' ,conversations: conversations%>
  <%else%>
    <div class="no__conversations">
      <%=inline_svg_tag 'message.svg'%>
      <p>You have no messages</p>
    </div>
  <% end %>
  <div class="pagination__buttons">
    <%= link_to_previous_page conversations, 'Previous ',class:'prv__btn',remote: true %>
    <%= link_to_next_page conversations, 'Next ',class:'nxt__btn',remote: true %>
  </div>
</ul>
