document.querySelector(".project__overview").insertAdjacentHTML("afterend",`
<div class="start__conversation"><%=j render 'messages', {messages: @messages,message: @message } %>
</div>
`);
windowScroll=window.scrollY;
document.querySelector(".start__conversation").setAttribute("style",`top:${windowScroll }px `)
document.querySelector(".close__messages")?.addEventListener("click",()=>{
document.querySelector(".start__conversation").remove();
})
