<ul class="proposals">
  <li class="all__proposals">
    <%=link_to 'All proposals',all_proposals_project_details_path,remote: true%>
  </li>
  <li class="shortlisted__users">
    <%=link_to 'Shortlisted',shortlisted_project_details_path,remote: true%>
  </li>
  <li class="rejected__users">
    <%=link_to 'Rejected',rejected_project_details_path,remote: true%>
  </li>
</ul>
