<li class="bid__result">
  <%= "You #{bid.rejected? ? "rejected the bid,check other bids on your project ": "approved the bid,now you can get in touch with #{bid.freelancer.name}" }." %>
</li>
<div class="time"> <%= distance_of_time_in_words_to_now(bid.updated_at) %> ago</div>
