<main class="bid__history">
  <div class="bid-history__heading">
    <h3>bid history</h3>
  </div>
  <ul class="freelancer-placed-bids-on">
    <% if @bids.empty? %>
      <%= render 'no-projects' %>
    <% else %>
      <%= render 'my-bids' ,bids: @bids%>
    <% end %>
  </ul>
</section>
