<div class="freelancer__profile-modal">
  <div class="freelancer__profile">
    <%= render 'profiles/user_profile',user: freelancer %>
  </div>
  <div class="close__profile-modal">
    <i class="fal fa-times-circle"></i>
  </div>
</div>
