<div class="search__projects">
  <%= render 'search_projects', q: @j%>
  <% if @projects.empty? %>
    <%=render 'no-results'%>
  <% else %>
    <%= render 'search-results-projects',projects: @projects %>
  <% end %>
</div>
