<div class="search__projects">
  <%= render 'search_projects', q: q%>
  <%if projects.nil?%>
    <%= render 'empty-search-projects' %>
  <% else %>
    <% if projects.empty? %>
      <%=render 'no-results'%>
    <% else %>
      <%= render 'search-results-projects',projects: projects %>
    <% end %>
  <% end %>
</div>
