<div class=" hero">
  <section class="banner">
    <h1> Find the perfect freelance services for your business </h1>
    <p>Hire proven pros with confidence using the world’s largest, remote talent platform.</p>
    <%= link_to 'SignUp', signup_path,class:'btn-primary' %>
  </section>
  <div class=" banner-illustration">
    <%= inline_svg_tag "freelancer.svg" ,class:'svg_img' %>
  </div>
</div>
