<div class="project__budget-form">
  <%= f.label :min_budget ,'Set your hourly range:' %>
  <section class="project__budget-field">
    <div>
      <%= f.text_field :min_budget,placeholder: '0.00',id:'min__budget' %>
    </div>
    <div>
      <%= f.label :max_budget ,"to:" %>
      <%= f.text_field :max_budget,placeholder: '0.00'  %>
    </div>
  </section>
</div>
