<div class="project__description-form" >
  <%=f.label :description,'A good description includes:'%>
  <ul>
    <li>What the deliverable is</li>
    <li>Type of freelancer or agency you're looking for</li>
    <li>Anything unique about the project, team, or your company</li>
  </ul>
  <%= f.text_area :description  %>
</div>
