<div class="project__description-form" >
  <%=f.label :description,'Description'%>
  <%= f.text_area :description  %>
  <%unless project.errors[:description].empty?%>
    <div class="error">
      <i class="fas fa-exclamation-circle"></i>
      <%=project.errors[:description][0]%></div>
  <% end %>
</div>
