<ul class="project__steps">
  <li >
    <i class="far fa-pencil"></i>
    <span> title</span>
    <i class="fas fa-badge-check" style="color:green " ></i>
  </li>
  <li >
    <i class="fal fa-clipboard" ></i>
    <span> category</span>
    <i class="fas fa-badge-check" style="color:green "></i>
  </li>
  <li >
    <i class="fas fa-clipboard"></i>
    <span> description </span>
    <i class="fas fa-badge-check" style="color:green "></i>
  </li>
  <li >
    <i class="fad fa-mug-hot"></i>
    <span> expertise  </span>
    <i class="fas fa-badge-check" style="color:green "></i>
  </li>
  <li >
    <i class="fas fa-usd-circle"></i>
    <span> budget  </span>
    <i class="fas fa-badge-check" style="color:green "></i>
  </li>
</ul>
