$font-comforta: "Comfortaa", cursive;
$font-quicksand: "Quicksand", sans-serif;
$border-color: rgb(214, 210, 210);
h2 {
  text-align: left;
  border: 1px solid $border-color;
  height: 4rem;
  line-height: 4rem;
  padding: 0 2rem;
  font-weight: 600;
  font-size: 1.6rem;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  background-color: white;
}
.projects {
  background-color: white;
  display: block;
  list-style-type: none;
  transition: transform 0.7s;
  .project {
    border: 1px solid $border-color;
    border-top: none;
    &:hover {
      background-color: rgb(245, 245, 245);
      & .project__title > a {
        text-decoration: underline;
        color: green;
      }
    }
    & > ul {
      cursor: pointer;
      transition: background-color 0.5s;
      list-style-type: none;
      display: flex;
      padding: 1rem 1.5rem 0.5rem;
      gap: 0.8rem;
      list-style-type: none;
      flex-direction: column;

      li {
        font-size: 0.85rem;
        font-family: $font-comforta;
        color: #242424;
      }
      .project__title {
        a {
          font-family: $font-quicksand;
          text-decoration: none;
          font-size: 1.3rem;
          color: black;
          text-transform: capitalize;
          font-weight: 600;
          word-spacing: 3px;
        }
      }
      .project__experience {
        font-weight: 600;
        font-size: 0.8rem;
        align-self: flex-start;
        border-bottom: 1px solid $border-color;
      }
      .project__description {
        font-size: 0.8rem;
        word-spacing: 2px;
        font-weight: 600;
        line-height: 16px;
      }
      .total__bids-on-project {
        font-weight: 600;
        font-size: 0.75rem;
        word-spacing: 2px;
        color: green;
        align-self: flex-start;
        border-bottom: 1px solid $border-color;
      }
      .project__posted-at {
        font-weight: 400;
        font-size: 0.7rem;
        color: #242424;
        align-self: flex-end;
        i {
          margin-right: 0.5rem;
          font-size: 0.9rem;
        }
      }
    }
  }
}

.no__projects-to-show {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0.5rem;
  width: 100%;
  background: white;
  border: 1px solid $border-color;
  border-top: none;
  & > svg {
    width: 150px;
    height: 150px;
  }
  p {
    font-size: 1rem;
  }
}
