/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  overflow-x: hidden;
  scrollbar-width: none;
  background-color: #f1f2f4;
  header {
    position: absolute;
    top: 0;
    padding-top: 0.1rem;

    .logo {
      display: block;
      width: 100px;
      height: 60px;
    }
  }
  .search__bar {
    position: absolute;

    top: 32.5px;
    left: 100px;
    transform: translateY(-50%);
    z-index: 10;
    .arrow {
      display: block;
      box-sizing: border-box;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid #3187d3;
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
      .search__dropdown {
        height: 100px;
        width: 200px;
        background: rgb(255, 255, 255);
        transform: translateY(-200%);
        transition: transform 0.3s;
        a {
          display: block;
          text-decoration: none;
          font-size: 0.8rem;
          padding: 15px;
          border: 1px solid #e7e3e3;
          cursor: pointer;
          &:hover {
            background-color: rgb(235, 235, 235);
          }
        }
      }
    }
    input {
      height: 40px;
      border-radius: 20px;
      border: 1px solid #c1c1c1;
      padding-left: 30px;
    }

    .search-btn {
      display: inline-block;
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY((-50%));
      button {
        border: none;
        background: transparent;
        border-radius: 50%;
        width: 30px;
        height: 30px;
      }
    }
  }
  nav {
    width: 100%;
    border: 1px solid rgb(206, 202, 202);
    height: 65px;
    padding: 0 2rem;
    background: white;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    & > ul {
      height: inherit;
      display: flex;
      justify-content: center;

      gap: 5rem;
      &::before {
        content: "D";
        margin: 1px auto 1px 1px;
        visibility: hidden;
        padding: 5px;
        background: #ddd;
      }
      & > li {
        display: block;
        list-style-type: none;
        align-self: center;

        .btn-primary {
          display: block;
          background: #1986d6;
          text-align: center;
          padding: 6px 10px;
          color: white;
          line-height: 20px;
          border-radius: 5px;
          font-weight: 600;
          font-size: 14px;
          width: 100px;
        }
        a {
          text-decoration: none;
          color: black;
          font-size: 1.8rem;
        }
      }
      .conversations__dropdown {
        position: relative;
        li {
          list-style-type: none;
        }
      }
      .notifications__dropdown {
        @extend .conversations__dropdown;
      }

      & > li:nth-last-child(1) {
        position: relative;
        margin-left: auto;
        & img {
          height: 35px;
          display: block;
          opacity: 0.8;
          cursor: pointer;

          &:hover {
            opacity: 1;
            border: 2px solid rgb(136, 132, 132);
            border-radius: 50%;
          }
        }
      }
    }
  }
}
