// Place all the styles related to the freelancer_infos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$font-comforta: "Comfortaa", cursive;
$font-quicksand: "Quicksand", sans-serif;

$border-color: rgb(214, 210, 210);
.freelancer__feed {
  max-width: 650px;
  padding: 1rem 0 1rem;
  transition: transform 0.6s;
  overflow: scroll;
  max-height: 90vh;
  scrollbar-width: none;
  @import "allprojects";
}

/**/ ///
