// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.messages__modal {
  position: absolute;
  height: 86%;
  top: 0;
  background-color: white;
  width: 0%;
  opacity: 0;
  padding-top: 3rem;
  transition: all 0.3s;
  overflow: scroll;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    width: 0;
  }

  .message {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem;

    .message__content {
      color: #201f1f;
      background-color: rgb(195, 195, 195);
      align-self: flex-start;
      padding: 0.5rem;
      position: relative;
      border-radius: 10px;
      border-top-left-radius: 0px;
      max-width: 250px;
      font-size: 0.9rem;
      small {
        display: block;
        font-size: 0.7rem;
      }
      &:before {
        content: "";
        position: absolute;
        height: 0px;
        width: 0px;

        top: 0;
        left: 0;
        border-top: 10px solid rgb(195, 195, 195);
        border-left: 10px solid transparent;
        transform: translateX(-100%);
      }
    }
    .document {
      color: #201f1f;
      align-self: flex-start;
      position: relative;
      border-radius: 10px;
      border-top-left-radius: 0px;
      max-width: 250px;
      a img {
        border: 1px solid #d4c9c9;
      }
      .other-files {
        font-size: 0.9rem;
        padding: 5px;
        color: blue;
        line-height: 16px;
        i {
          font-size: 1rem;
        }
      }
    }

    .message__content-current_user {
      color: white;
      background-color: #457abf;
      align-self: flex-end;
      padding: 0.5rem;
      position: relative;
      border-radius: 10px;
      border-top-right-radius: 0px;
      max-width: 250px;
      font-size: 0.9rem;
      &:after {
        content: "";
        position: absolute;
        height: 0px;
        width: 0px;

        top: 0;
        right: 0;
        border-top: 10px solid #457abf;
        border-right: 10px solid transparent;
        transform: translateX(100%);
      }
    }

    .document-current_user {
      color: #201f1f;
      align-self: flex-end;
      position: relative;
      max-width: 250px;
      a img {
        border: 1px solid #d4c9c9;
      }

      .other-files {
        font-size: 0.9rem;
        padding: 5px;
        color: blue;
        line-height: 16px;
        i {
          font-size: 1rem;
        }
      }
    }
    .created__at {
      align-self: flex-start;
      font-size: 0.7rem;
    }
    .created__at-current-user {
      align-self: flex-end;
      font-size: 0.7rem;
    }
  }

  .send__message > form {
    background-color: white;
    padding: 0.5rem 0.5rem 0;
    border-top: 1px solid #b4aeae;
    position: fixed;
    width: 100%;
    bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
    textarea {
      flex: 1;
      border: none;
      padding: 5px 5px 0;

      height: 50px;
    }
    label {
      flex: 1;
      cursor: pointer;
    }
    .attached {
      color: blue;
      transition: all 0.5s;
      position: relative;
      animation: tada 1s infinite;
    }
    @keyframes tada {
      0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
      }
      10%,
      20% {
        -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
      }
      30%,
      50%,
      70%,
      90% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
      }
      40%,
      60%,
      80% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
      }
      100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
      }
    }

    input {
      display: none;
      height: 20px;
    }
    button {
      flex: 1;
      border: none;
      font-size: 1.3rem;
      background-color: transparent;
      i:hover {
        color: blue;
        cursor: pointer;
      }
    }
  }
  .close__messages {
    position: fixed;
    top: 0px;
    height: 45px;
    width: 100%;
    background: white;
    z-index: 12;
    padding: 5px 10px;
    font-size: 1.3rem;
    border-bottom: 1px solid #d5cbcb;
  }
}
.slideIn {
  opacity: 1;
  width: 100%;
}
