// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$border-color: rgb(214, 210, 210);
$font: "Comfortaa", cursive;
$box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07),
  0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);

.hero {
  &::before {
    position: absolute;
    content: "";
    background: linear-gradient(90deg, rgba(9, 33, 121, 1) 0%, rgba(0, 212, 255, 1) 98%);
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0 0 50% 50%/0 0 100% 100%;
    transform: scaleX(2);
    z-index: -10;
  }

  height: calc(90vh - 60px);
  width: 100%;
  display: flex;
  position: relative;
  z-index: 11;
  z-index: 1;
  overflow: hidden;
  flex-wrap: wrap;

  .banner {
    align-self: center;
    color: white;
    flex: 1 1 60%;
    padding: 0 3rem;
    font-family: "Poppins", sans-serif;
    letter-spacing: 2px;

    h1 {
      font-size: 2.9rem;
      text-transform: capitalize;
      font-family: "Montserrat", sans-serif;

      /*background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(168, 168, 168, 1) 100%);*/
    }
    @keyframes text-focus-in {
      0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
      }
      100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
      }
    }
    @keyframes bg-animation {
      0% {
        background-position: left;
      }
      100% {
        background-position: right;
      }
    }

    p {
      padding: 1.5rem 2rem 1rem 0;
      font-size: 1.2rem;
      font-family: "Poppins", sans-serif;
    }
    .btn-primary {
      display: block;

      text-decoration: none;
      background-color: #3395db;
      text-align: center;
      padding: 0.5rem;
      color: white;
      border-radius: 8px;
      font-weight: 600;
      font-size: 1rem;
      width: 140px;
      border: none;
      cursor: pointer;
      transition: 1s background-color;
      &:hover {
        background: #137eca;
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
      }
    }
  }
  .banner-illustration {
    flex: 1 1 40%;
    min-width: 400px;
    padding: 3rem 2rem 2rem 0;
    animation: text-focus-in 1s;
    .svg_img {
      height: 100%;
      display: block;
      width: 80%;
      margin: 0 auto;
    }
  }
}

/******search-bar**/
.search__projects,
.search__freelancers {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.6s;
  padding-top: 2rem;
  .search__wrapper {
    padding: 1rem 2rem;
    border: 1px solid #c1c1c1;
    background: white;

    width: 650px;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
  }
  #search {
    position: relative;
    width: 100%;
    .search_bar {
      input {
        height: 45px;
        border-radius: 0.5rem;
        border: 1px solid #c1c1c1;
        padding-left: 30px;
        width: 100%;
      }
    }
    .search__btn,
    .reset__btn {
      position: absolute;
      right: 0px;
      top: 50%;
      transform: translateY((-50%));
      border: none;
      background: #37a000;
      border-top-right-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
      color: white;
      font-size: 1rem;
      width: 45px;
      height: 100%;
    }
    .reset__btn {
      background: transparent;
      right: 45px;
      i {
        color: black;
        position: absolute;
        transform: translate((-50%, -50%));
        left: 50%;
        top: 50%;
      }
    }
    .search__filters {
      display: none;
    }
  }
  .search__results-projects {
    max-width: 650px;

    transition: transform 0.7s;

    @import "allprojects";
  }
  .search__results-freelancers {
    width: 650px;
    border: 1px solid #cac4c4;
    border-top: none;
    .freelancers {
      width: 100%;
      line-height: normal;
      border: 0px;
      background: white;
      & li {
        list-style-type: none;
      }
      .freelancer {
        display: flex;
        list-style-type: none;
        position: relative;
        transition: all 0.5s;
        border-bottom: 1px solid #cac4c4;

        &:hover {
          background-color: #f0eeee;
          cursor: pointer;
        }
        .user_image {
          padding: 1rem;
          align-self: flex-start;
          svg {
            display: block;
            height: 60px;
            width: 60px;
          }
        }
        & > ul {
          display: flex;
          flex-direction: column;
          padding: 0.6rem 0.5rem 0;
          gap: 0.5rem;
          .freelancer__name {
            font-size: 0.95rem;
            color: green;
            text-transform: capitalize;
            font-weight: 700;
            font-family: $font;
            .category {
              font-weight: 400;
              font-size: 0.8rem;
              color: #696969;
            }
          }
          .freelancer__bio {
            flex-basis: 10px;
            font-family: $font;
            font-size: 0.8rem;
            word-spacing: 2px;
            font-weight: 600;
            line-height: 16px;
          }
          .freelancer__joined-on {
            font-weight: 400;
            font-size: 0.7rem;
            color: #242424;
          }
        }
      }
    }
  }
  .no__results,
  .empty__search {
    height: 200px;
    width: 650px;
    border: 1px solid $border-color;
    border-top: none;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    i {
      font-size: 5rem;
    }
  }
}
.freelancer__profile-modal {
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.7));
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 65px;
  .freelancer__profile {
    z-index: 10;
    padding: 0;
    height: auto;
    width: 450px;
    box-shadow: $box-shadow;
    border-radius: 1rem;
    background: white;
    @import "profile/user-profile";
  }
}
