// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$border-color: rgb(214, 210, 210);
$font: "Comfortaa", cursive;
$font-quicksand: "Quicksand", serif;
$font-montserrat: "Montserrat", sans-serif;
$box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07),
  0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);

.hero {
  &::before {
    position: absolute;
    content: "";
    background: linear-gradient(90deg, rgba(9, 33, 121, 1) 0%, rgba(0, 212, 255, 1) 98%);
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0 0 50% 50%/0 0 100% 100%;
    transform: scaleX(2);
    z-index: -10;
  }

  height: calc(90vh - 60px);
  width: 100%;
  display: flex;
  position: relative;
  z-index: 11;
  z-index: 1;
  overflow: hidden;
  flex-wrap: wrap;

  .banner {
    align-self: center;
    color: white;
    flex: 1 1 60%;
    padding: 0 3rem;
    font-family: "Poppins", sans-serif;
    letter-spacing: 2px;

    h1 {
      font-size: 2.7rem;
      text-transform: capitalize;
      font-family: "Montserrat", sans-serif;

      /*background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(168, 168, 168, 1) 100%);*/
    }

    p {
      padding: 1.5rem 2rem 1rem 0;
      font-size: 1.2rem;
      font-family: "Poppins", sans-serif;
    }
    .btn-primary {
      display: block;

      text-decoration: none;
      background-color: #3395db;
      text-align: center;
      padding: 0.5rem;
      color: white;
      border-radius: 8px;
      font-weight: 600;
      font-size: 1rem;
      width: 140px;
      border: none;
      cursor: pointer;
      transition: 1s background-color;
      &:hover {
        background: #137eca;
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
      }
    }
  }
  .banner-illustration {
    flex: 1 1 40%;
    min-width: 400px;
    padding: 3rem 2rem 2rem 0;

    .svg_img {
      height: 100%;
      display: block;
      width: 80%;
      margin: 0 auto;
    }
  }
}
@media (max-width: 1200px) {
  .hero {
    text-align: center;
    position: relative;
    &::before {
      height: 80%;
    }
    .banner {
      padding-top: 5rem;
      align-self: flex-start;
      a {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    .banner-illustration {
      display: none;
    }
  }
}
@media (max-width: 786px) {
  .hero {
    .banner {
      h1 {
        font-size: 2rem;
      }
      p {
        font-size: 1.1rem;
      }
    }
  }
}
@media (max-width: 480px) {
  .hero {
    .banner {
      padding: 1rem;
    }
  }
}

/******search-bar**/
.search__projects,
.search__freelancers {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.6s;
  padding-top: 2rem;
  max-width: 650px;
  margin: 0 auto;
  position: relative;
  .search__wrapper {
    padding: 1rem 2rem;
    border: 1px solid #c1c1c1;
    background: white;

    width: 100%;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    .filter__parameters {
      display: flex;
      gap: 1rem;
      padding-top: 0.5rem;
      align-items: center;
      div {
        padding: 0.5rem 1.2rem;
        background: #ececec;
        font-size: 0.8rem;
        color: #494949;
        vertical-align: center;
        display: flex;
        align-items: center;
        height: 2rem;
        border-radius: 5px;
      }
      a {
        text-decoration: none;
        color: #494949;
        &:hover {
          color: green;
          text-decoration: underline;
        }
      }
    }
  }
  #search {
    position: relative;
    width: 100%;
    .search_bar {
      input {
        height: 45px;
        border-radius: 0.5rem;
        border: 1px solid #c1c1c1;
        padding-left: 30px;
        width: 100%;
      }
    }
    .search__btn,
    .reset__btn,
    .filters {
      position: absolute;
      right: 0px;
      top: 50%;
      transform: translateY((-50%));
      border: none;
      background: #37a000;
      border-top-right-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
      color: white;
      font-size: 1rem;
      width: 45px;
      height: 100%;
    }
    .filters {
      display: inline-block;
      right: 45px;
      background: transparent;

      svg {
        position: absolute;
        width: 20px;
        height: 20px;
        top: 50%;
        transform: translate((-50%, -50%));
        left: 50%;
        &:hover {
          cursor: pointer;
        }
      }
    }
    .reset__btn {
      background: transparent;
      right: 90px;

      i {
        color: black;
        position: absolute;
        transform: translate((-50%, -50%));
        left: 75%;
        top: 50%;
      }
    }
    .search__filters {
      position: absolute;
      top: 0;
      display: none;
      background: white;
      border: 1px solid $border-color;
      border-radius: 0.5rem;
      width: 100%;
      height: 204px;
      align-items: center;
      font-size: 0.8rem;
      justify-content: space-around;
      z-index: 11;
      box-shadow: $box-shadow;

      select {
        font-size: 0.7rem;
      }
      label {
        display: block;
        margin-bottom: 0.1rem;
      }
      .search__experience {
        label {
          text-align: center;
        }
        & > div {
          display: flex;
          align-items: center;
          gap: 0.5rem;
        }
      }
      .toggle__filter {
        position: absolute;
        top: 85%;
        left: 50%;
        transform: translateX(-50%);
        .search__btn {
          position: initial;
          padding: 0.3rem 0.8rem;
          border-radius: 0.5rem;
          width: 100px;
          transition: all 0.5s;
          &:hover {
            cursor: pointer;
            background: rgb(19, 95, 19);
          }
        }
      }
      .close__filter {
        position: absolute;
        top: 0.5rem;
        right: 1rem;
        font-size: 1.5rem;

        & > i:hover {
          cursor: pointer;
        }
      }
    }
    .show-filter {
      display: flex;
    }
  }
  .pagination__buttons {
    width: 100%;
  }
  .search__results-projects {
    width: 100%;

    transition: transform 0.7s;

    @import "allprojects";
  }
  .search__results-freelancers {
    width: 100%;
    border: 1px solid #cac4c4;
    border-top: none;
    .freelancers {
      width: 100%;
      line-height: normal;
      border: 0px;
      background: white;
      & li {
        list-style-type: none;
      }
      .freelancer {
        display: flex;
        list-style-type: none;
        position: relative;
        transition: all 0.5s;
        border-bottom: 1px solid #cac4c4;

        &:hover {
          background-color: #f0eeee;
          cursor: pointer;
        }
        .user_image {
          padding: 1rem;
          align-self: flex-start;
          svg,
          img {
            display: block;
            height: 60px;
            width: 60px;
          }
          img {
            border: 1px solid rgb(143, 143, 143);
            border-radius: 50%;
          }
        }
        & > ul {
          display: flex;
          flex-direction: column;
          padding: 0.6rem 0.5rem 0;
          gap: 0.5rem;
          .freelancer__name {
            font-size: 1rem;
            color: #474747;
            text-transform: capitalize;
            font-weight: 600;
            font-family: $font-quicksand;
            .category {
              font-weight: 400;
              font-size: 0.8rem;
              color: #696969;
            }
            &:hover {
              text-decoration: underline;
            }
          }
          .freelancer__bio {
            flex-basis: 25px;
            font-family: $font-montserrat;
            font-size: 0.75rem;
            word-spacing: 2px;
            font-weight: 500;
            line-height: 16px;
          }
          .freelancer__joined-on {
            font-weight: 400;
            font-size: 0.7rem;
            color: #242424;
            i {
              margin-right: 0.3rem;
            }
          }
        }
      }
    }
  }
  .no__results,
  .empty__search {
    height: 200px;
    width: 650px;
    border: 1px solid $border-color;
    border-top: none;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    i {
      font-size: 5rem;
    }
  }
}
.freelancer__profile-modal {
  background: linear-gradient(to right bottom, rgba(68, 68, 68, 0.5), rgba(92, 92, 92, 0.5));
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  z-index: 10;
  .freelancer__profile {
    padding: 0;
    height: auto;

    width: 450px;
    box-shadow: $box-shadow;
    border-radius: 1rem;
    background: white;

    @import "profile/user-profile";
  }
  .close__profile-modal {
    position: absolute;
    top: 2rem;
    right: 1rem;
    i {
      font-size: 3rem;
      color: white;
    }
  }
}
