// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07),
  0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
$border: 1px solid rgb(206, 202, 202);
/*******/
$font-comfortaa: "Comfortaa", cursive;
$font-quicksand: "Quicksand", serif;
/**/
@mixin borderValues {
  background: white;
  border: $border;
  border-top: none;
  border-radius: 0.5rem;
}
@mixin heading {
  border: 1px solid #d6d2d2;
  height: 5rem;
  font-family: "Comfortaa", cursive;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  background-color: white;

  h3 {
    padding: 0 2rem;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 5rem;
  }
}
/********************************/

.project__page {
  max-width: 750px;
  padding: 0;
  box-shadow: $box-shadow;
  margin: 3rem auto;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border: $border;

  .post__project {
    @include heading();
    border: none;
  }
  & > form {
    border-top: $border;
    background: #ffffff;
    list-style-type: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 4rem;
    gap: 1rem;

    .error {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      position: absolute;
      bottom: -0.4rem;
      color: red;
      font-size: 0.8rem;
      font-weight: 600;
      i {
        color: red;
      }
    }
    & > div {
      align-self: stretch;
      padding: 1rem 0;
    }

    & label {
      display: inline-block;
      margin-bottom: 0.5rem;
      position: relative;
      font-family: "Quicksand", serif;
      font-weight: 500;
      font-size: 1.2rem;
      &::after {
        content: "*";
        position: absolute;
        color: rgb(218, 0, 0);
        top: 0;
        right: -10px;
      }
    }
    .project__title-form {
      position: relative;

      text-transform: capitalize;
      font-family: "Montserrat";
      .field_with_errors {
        input {
          border: 1px solid red;
        }
      }

      input {
        width: 100%;
        padding: 0.5rem;
        border: $border;
        outline: none;
        &:focus {
          border: 1px solid green;
        }
      }
    }
    .project__category {
      display: flex;
      gap: 1rem;
      div {
        flex: 1 1 50%;
        position: relative;
        .field_with_errors {
          select {
            border: 1px solid red;
          }
        }
        select {
          width: 100%;
          padding: 0.5rem;
          outline: none;
        }
      }
    }
    .project__description-form {
      position: relative;
      align-self: initial;
      flex-basis: 270px;
      #project_description {
        min-height: 250px;
      }
      .field_with_errors {
        textarea {
          border: 1px solid red;
        }
      }
    }
    .project__experience-form {
      label {
        font-size: 1rem;
        word-spacing: 3px;
        margin-left: 10px;
        margin-bottom: 1rem;
      }
      .experience-level {
        display: flex;
        justify-content: space-around;
        perspective: 1000px;
        perspective-origin: center;

        & div {
          flex-basis: 30%;
          display: flex;
          flex-direction: column;
          height: 150px;
          border: $border;
          border-radius: 10px;
          padding: 1.5rem 0.5rem;
          text-align: center;
          font-family: "monoserrat";
          position: relative;
          transition: transform 0.5s;
          gap: 0.5rem;

          p {
            font-size: 0.8rem;
          }
          cursor: pointer;
          input {
            position: absolute;
            right: 5px;
            z-index: 0;
            top: 5px;
          }
        }
      }
    }
    .submit__btn {
      align-self: center;
      width: 150px;
      input {
        width: 100%;
        display: block;
        background: #37a000;
        text-align: center;
        padding: 0.6rem 0.7rem;
        color: white;
        font-weight: 500;
        font-size: 1rem;
        border: none;
        border-radius: 0.5rem;
        transition: all 0.6s;
        &:hover {
          background: #2a7900;
          cursor: pointer;
        }
      }
    }
  }
}
.add__border {
  box-shadow: $box-shadow;
  transform: translateZ(100px);
  transition: transform 0.6s;
}

/////////////////////////////////
.pagination__buttons {
  display: flex;
  a {
    font-family: $font-comfortaa;
    font-weight: 700;
    padding: 0.7rem 1.2rem;
    text-decoration: none;
    border-radius: 5px;
    background: #37a000;
    color: white;
    font-size: 0.8rem;
    transition: all 0.5s;
    width: 95px;
    text-align: center;
    &:hover {
      background: #2c7a02;
    }
  }
  .prv__btn {
    margin: 1rem;
  }
  .nxt__btn {
    margin: 1rem 1rem 1rem auto;
  }
}
.client__feed,
.bid__history {
  max-width: 600px;
  padding: 1rem 0 1rem;
  transition: transform 0.6s;

  .projects__heading,
  .bid-history__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 1rem;
    @include heading();
    position: relative;
    a {
      font-family: $font-comfortaa;
      font-weight: 700;
      padding: 0.8rem 1.5rem;
      text-decoration: none;
      border-radius: 0.5rem;
      background: #37a000;
      color: white;
      font-size: 1rem;
      transition: all 0.5s;
      &:hover {
        background: #2c7a02;
      }
    }
    span {
      color: green;
    }
  }
  .projects-posted-by-client,
  .freelancer-placed-bids-on {
    li {
      list-style-type: none;
    }
    .start__posting-projects,
    .no__bids {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 0.5rem;
      width: 100%;
      background: white;
      border: $border;
      border-top: none;
      & > svg {
        width: 150px;
        height: 150px;
      }
      p {
        font-size: 1rem;
      }
    }
    .every__project,
    .each__bid {
      background: white;
      border: 1px solid #d6d2d2;
      border-top: none;
      transition: all 0.5s;
      &:hover {
        cursor: pointer;
        background: rgb(248, 248, 248);
        & .project__title > a,
        & .bid__proposal > a {
          color: green;
          text-decoration: underline;
        }
      }
      & > ul {
        display: flex;
        flex-direction: column;
        padding: 1.5rem;
        gap: 1rem;
        .project__title {
          display: flex;
          position: relative;
          a {
            display: block;
            text-decoration: none;
            font-size: 1.25rem;
            word-spacing: 3px;
            flex: 1 1 80%;
            color: black;
            font-family: "Quicksand", sans-serif;
            font-weight: 600;
            line-height: 1.4rem;
          }
          .project__dropdown-btn {
            flex: 1 1 20%;
            text-align: right;
            align-self: flex-start;
            font-size: 1.7rem;
            color: rgb(216, 216, 216);
            transition: color 0.5s;

            &:hover {
              color: #37a000;
            }
          }
          .project__posted-dropdown {
            right: 0;
            top: 2rem;
            position: absolute;
            display: flex;
            flex-direction: column;
            list-style-type: none;
            height: 120px;
            border: $border;
            border-radius: 5px;
            width: 200px;
            gap: 0.5rem;
            padding: 0.5rem 0;
            align-items: flex-start;
            background: white;
            z-index: 1;
            li {
              align-self: stretch;

              a {
                text-align: initial;
                padding: 0 1rem;
                font-size: 0.9rem;
                color: rgb(32, 32, 32);
              }
              &:hover {
                background: rgb(240, 240, 240);
                align-self: stretch;
              }
            }
          }
        }
        .project__created-at-with-status {
          display: flex;
          & > div,
          & > ul {
            flex: 1;
            align-self: flex-end;
            display: flex;
            align-items: center;
            font-size: 0.8rem;
            color: #313131;
            & > li {
              flex: 1;
              text-align: center;
              position: relative;
              & > div {
                font-size: 1.2rem;
              }
              .add__color {
                color: green;
                position: relative;
              }
              & > span {
                display: block;
                font-size: 0.7rem;
                font-family: "Comfortaa", cursive;
                font-weight: 700;
              }
            }
          }
          & > div {
            gap: 0.5rem;
          }
        }
      }
    }
  }
}

///Job-post Styles

.project__modal,
.project__post {
  transition: transform 0.6s;
  overflow: scroll;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    width: 0;
  }
  height: 100vh;
  background: #f1f2f4;
  position: absolute;
  right: 0;
  box-shadow: $box-shadow;
  width: 100%;
  transform: translateX(130%);
  transition: transform 0.7s;
  z-index: 10;

  .close__modal {
    width: 100%;
    height: 70px;
    border-bottom: $border;
    position: sticky;
    top: 0;
    background: white;
    z-index: 20;
    i {
      line-height: 70px;
      color: green;
      font-size: 1.5rem;
      padding-left: 2rem;
    }
  }
  .job__post-slider {
    position: relative;
    margin: 2rem auto;
    max-width: 700px;
    border: 1px solid #d6d2d2;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    background: white;

    .job__post-title {
      min-height: 4rem;
      position: relative;

      h3 {
        text-transform: capitalize;
        padding: 1rem 1rem 1.5rem;
        font-size: 1.4rem;
        word-spacing: 2px;
        font-weight: 600;
      }

      .posted__at-time {
        position: absolute;
        bottom: 5px;
        right: 1rem;
        p {
          font-weight: 400;
          font-size: 0.7rem;
        }
      }
    }
    .job__category {
      padding: 1rem 1.5rem 2rem;
      border-top: $border;
      p {
        font-weight: 500;
        font-size: 0.9rem;
        color: #242424;
      }
    }
    .job__post-description {
      border-top: 1px solid #d6d2d2;
      padding: 1rem 1.5rem 2rem;
      h3 {
        margin-bottom: 0.5rem;
      }
    }
    .job__post-attachments {
      padding: 1rem 1.5rem 2rem;
      border-top: $border;

      a {
        display: block;
        color: black;
        text-decoration: none;
        &:hover {
          color: green;
          text-decoration: underline;
        }
      }
    }

    .all_proposals {
      border-top: $border;
      padding: 1rem 1.5rem 2rem;
      position: relative;

      & > ul {
        padding-top: 0.5rem;
        padding-right: 2rem;
        list-style-type: none;

        li {
          position: relative;
          span:first-child {
            font-size: 1.1rem;
            color: #353535;
          }
          span:last-child {
            font-family: $font-comfortaa;
            font-weight: 700;
            border-bottom: 1px solid rgb(95, 95, 95);
            font-size: 1.1rem;
          }
        }
        .login__btn-to-continue {
          margin: 1rem 0 1rem 0;
          a {
            display: block;
            background: #37a000;
            text-align: center;
            text-decoration: none;
            padding: 0.6rem;
            color: white;
            font-weight: 500;
            font-size: 1rem;
            border: none;
            border-radius: 0.5rem;
            transition: all 0.6s;
            width: 150px;
            &:hover {
              background: #2a7900;
              cursor: pointer;
            }
          }
        }
      }
    }
    .place__bid {
      border-top: 1px solid #d6d2d2;
      & > form {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 3rem;
        padding: 2rem;
        .bid__proposal-field {
          flex-basis: 100%;
          text-align: center;

          textarea {
            width: 100%;
            height: 200px;
            padding: 1rem;
          }
          .errors {
            padding: 0.5rem 0.1rem;
            word-spacing: 2px;
            font-size: 0.8rem;
          }
        }
        .bid__value-field {
          margin-left: auto;
          flex-basis: 200px;

          .errors {
            word-spacing: 2px;
            font-size: 0.8rem;
            font-weight: 500;
          }
        }
        .bid__value-field,
        .submit__proposal {
          text-align: center;
          input {
            width: 150px;
          }
        }
        .submit__proposal {
          input {
            display: block;
            background: #37a000;
            text-align: center;
            padding: 0.5rem;
            color: white;
            font-weight: 500;
            font-size: 1rem;
            border: none;
            border-radius: 0.5rem;
            transition: all 0.6s;
            &:hover {
              background: #2a7900;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
//////////////////
.show__project-slideIn {
  transform: translateX(10%);
}

.disable-click {
  pointer-events: none;
  overflow: hidden;
}
