/*********/
$border: 1px solid #b9b9b9;
/*Icons Mixin*/
@mixin inputIcons {
  & i {
    position: absolute;
    color: rgb(112, 112, 112);
    top: 50%;
    left: 0.6rem;
    transform: translateY(-50%);
  }
}
/************/
@mixin buttons {
  .btn {
    display: block;
    background: #1986d6;
    text-align: center;
    padding: 0.5rem;
    color: white;
    margin: 0 auto;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
    width: 180px;
    border: none;
    cursor: pointer;
    transition: 1s background-color;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  }
}

.sign__up-page {
  & h1 {
    padding: 1rem 3rem 0;
    text-align: center;
    font-family: "Montserrat";
  }
  .sign__up-form {
    display: flex;
    margin: 0;
    flex-direction: column;
    @include inputIcons;
    gap: 2rem;
    padding: 1rem 0;

    & > div {
      margin: 0 2rem;

      position: relative;
    }
    & input {
      width: 100%;
      padding: 10px 2rem;
    }

    .role__field {
      text-align: center;
      & > div {
        display: inline-block;
        border: $border;
        width: 100px;
        text-align: center;
      }
      .f__btn {
        background: white;
        text-align: center;
        padding: 0.5rem;
        color: white;
        margin: 10px auto;
        border-radius: 5px;
        font-weight: 500;
        font-size: 14px;
        width: 100px;
        border: none;
        cursor: pointer;
        transition: background-color 0.5s;
        color: black;
        border: $border;
        &:hover {
          background: #4795cc;
          color: white;
        }
      }

      .btn__add-background {
        background: #1986d6;
        color: white;
        border: none;
      }
      .c__btn {
        @extend .f__btn;
      }
      & input {
        display: none;
      }
      .field_with_errors {
        text-align: center;
        display: inline;
        border: none;
      }
      & .errors {
        position: initial;
      }
    }
    .image__field i {
      position: inherit;
      transform: translateY(0);

      font-size: 3.5rem;
    }
    & .file__field {
      padding: 10px 0px;

      input {
        padding: 15px 0;
        box-shadow: none;
      }
    }

    @include buttons();
  }
}

@media (min-width: 480px) {
  .sign__up-page {
    padding: 0rem 3.5rem;
    padding-top: 1rem;
    .sign__up-form {
      border: $border;

      .role__field {
        .c__btn {
          width: 150px;
        }
        .f__btn {
          width: 150px;
        }
        & .errors {
          padding-left: 0;
        }
      }
    }
    & .errors {
      font-size: 0.5rem;
    }
  }
}
@media (min-width: 768px) {
  .sign__up-page {
    padding: 0rem 12rem;
    padding-top: 3rem;

    .sign__up-form {
      background: white;
      max-width: 600px;
      border-radius: 10px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07),
        0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
      h1 {
        margin: 0 auto 2rem;
      }
      flex-direction: row;
      flex-wrap: wrap;
      gap: 0;
      .name__field,
      .email__field {
        flex-basis: 35%;
      }
      .name__field {
        margin-right: 1rem;
      }
      .email__field {
        margin-left: 1rem;
      }
      & > div {
        flex-grow: 1;

        margin-bottom: 1.8rem;
      }
      .role__field {
        .c__btn,
        .f__btn {
          max-width: 180px;
        }

        & .field_with_errors {
          margin-bottom: 0;
        }
      }
      & .file__field {
        margin: 0 1rem 0 0;
      }
      & .errors {
        font-size: 0.6rem;
      }
    }
  }
}
@media (min-width: 992px) {
  .sign__up-page {
    .sign__up-form {
      h1 {
        font-size: 1.5rem;
      }
      width: 525px;
      margin: 0 auto;
      & > div {
        margin-bottom: 1.8rem;
      }

      .role__field {
        .c__btn,
        .f__btn {
          width: 200px;
        }
      }
      & .errors {
        font-size: 0.8rem;
      }
    }
  }
  .field_with_errors {
    margin-bottom: 0;
  }
}

.field_with_errors {
  display: block;

  input {
    border: 1px solid rgb(255, 0, 0);
  }
}

.errors {
  color: red;
  font-size: 0.7rem;
  font-weight: 600;
  padding-left: 2rem;
  position: absolute;
  & i {
    color: red;
  }
}
