<main class="freelancer__feed">
  <h2>My Feed</h2>
  <% unless @projects.empty? || @projects.nil?%>
    <%= render 'projects__on-feed',projects: @projects %>
  <%else%>
    <%= render 'no__projects-to-show' %>
  <% end %>
</main>
